version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"

- package-ecosystem: "pub"
  directory: "/"
  schedule:
    interval: "monthly"
  ignore:
  - dependency-name: "*"
    update-types:
    - "version-update:semver-patch"
    - "version-update:semver-minor"
