.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
*.jks
.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh
android/key.properties
*.iml
pubspec.lock
.metadata
.idea/
ios/Flutter/flutter_export_environment.sh
lib/generated_plugin_registrant.dart
.vscode/
debug.log
.snap
