.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
*.jks
.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh
android/key.properties
*.iml
.metadata
.idea/
ios/Flutter/flutter_export_environment.sh
debug.log
.snap
packages/translations/lib/app_localizations*.dart
pubspec_overrides.yaml
assets/*/*.svg.vec
