name: converterpro
description: Unit and currencies converter
publish_to: none

version: 3.2.1+37

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # App dynamic color theme
  dynamic_color: ^1.5.4
  # Native splash screen on Android
  flutter_native_splash: ^2.2.16
  # For svg icons
  flutter_svg: ^2.0.0+1
  # App logo in drawer
  google_fonts: ^3.0.1
  # Navigation
  go_router: ^5.2.4
  # Translations
  intl: ^0.17.0
  # State management
  provider: ^6.0.3
  # Android app shortcuts
  quick_actions: ^1.0.0
  # Store the customizations and the latest currencies convertions
  shared_preferences: ^2.0.15
  # Unit conversion
  units_converter: 2.0.1
  # Open external pages such as GitHub repo, Play Store, etc
  url_launcher: ^6.1.5
  # Load optimized svg icons
  vector_graphics: ^1.0.1
  # Resize window during testing
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding
      path: plugins/window_size

  # Sub packages ---------------------------------------------------------------
  # Calculator widget and logic
  calculator_widget:
    path: packages/calculator_widget
  # Update the exchange rates
  exchange_rates:
    path: packages/exchange_rates
  # App translations
  translations:
    path: packages/translations

dev_dependencies:
  test: ^1.21.4
  flutter_lints: ^2.0.1
  msix: ^3.6.3
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter_native_splash:
  # Run code generation: `flutter pub run flutter_native_splash:create`
  web: false
  color: "#eeeeee"
  color_dark: "#333333"
  image: resources/splash/splash.png

msix_config:
  display_name: Converter NOW
  publisher_display_name: Damiano Ferrari
  identity_name: 39826DamianoFerrari.ConverterNOW
  logo_path: resources\images\logo.png
  output_name: converternow-windows
  publisher: CN=E8FE6044-F04C-422E-AC68-EDA83F6AAFB2
  capabilities: internetClient

flutter:
  uses-material-design: true
  generate: true
  assets:
  - resources/app_icons/remove_trailing_zeros.svg.vec
  - resources/app_icons/reorder_properties.svg.vec
  - resources/app_icons/reorder_units.svg.vec
  - resources/app_icons/significant_figures.svg.vec
  - resources/property_icons/angle.svg.vec
  - resources/property_icons/area.svg.vec
  - resources/property_icons/currencies.svg.vec
  - resources/property_icons/data.svg.vec
  - resources/property_icons/energy.svg.vec
  - resources/property_icons/force.svg.vec
  - resources/property_icons/fuel.svg.vec
  - resources/property_icons/length.svg.vec
  - resources/property_icons/mass.svg.vec
  - resources/property_icons/numeral_systems.svg.vec
  - resources/property_icons/power.svg.vec
  - resources/property_icons/pressure.svg.vec
  - resources/property_icons/shoe_size.svg.vec
  - resources/property_icons/si_prefixes.svg.vec
  - resources/property_icons/speed.svg.vec
  - resources/property_icons/temperature.svg.vec
  - resources/property_icons/time.svg.vec
  - resources/property_icons/torque.svg.vec
  - resources/property_icons/volume.svg.vec
  - resources/other/logo.png
