name: converterpro
description: Unit and currencies converter
publish_to: none

version: 4.2.1+42

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # App dynamic color theme
  dynamic_color: ^1.7.0
  # Native splash screen on Android
  flutter_native_splash: ^2.4.0
  # State management
  flutter_riverpod: ^2.5.1
  # For svg icons
  flutter_svg: ^2.0.10+1
  # App logo in drawer
  google_fonts: ^6.2.1
  # Navigation
  go_router: ^14.1.1
  # Downloading the exchange rates
  http: ^1.2.1
  # Translations
  intl: ^0.19.0
  # Android app shortcuts
  quick_actions: ^1.0.7
  # Store the customizations and the latest currencies conversions
  shared_preferences: ^2.2.3
  # Unit conversion
  units_converter: 2.0.1
  # Just for getting the browser current language
  universal_io: ^2.2.2
  # Open external pages such as GitHub repo, Play Store, etc
  url_launcher: ^6.2.5
  # Load optimized svg icons
  vector_graphics: ^1.1.11+1
  # Resize window during testing
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding
      path: plugins/window_size

  # Sub packages ---------------------------------------------------------------
  # Calculator widget and logic
  calculator_widget:
    path: packages/calculator_widget
  # App translations
  translations:
    path: packages/translations

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  melos: ^6.0.0
  msix: ^3.16.7
  test: ^1.25.2

flutter_native_splash:
  # Run code generation: `flutter pub run flutter_native_splash:create`
  web: false
  color: "#eeeeee"
  color_dark: "#333333"
  image: assets/app_icons/logo.png

msix_config:
  display_name: Converter NOW
  publisher_display_name: Damiano Ferrari
  identity_name: 39826DamianoFerrari.ConverterNOW
  logo_path: assets\app_icons\logo.png
  output_name: converternow-windows
  publisher: CN=E8FE6044-F04C-422E-AC68-EDA83F6AAFB2
  capabilities: internetClient

flutter:
  uses-material-design: true
  generate: true
  assets:
  - assets/app_icons/logo.png
  - assets/app_icons/logo.svg.vec
  - assets/app_icons/remove_trailing_zeros.svg.vec
  - assets/app_icons/reorder_properties.svg.vec
  - assets/app_icons/reorder_units.svg.vec
  - assets/app_icons/significant_figures.svg.vec
  - assets/property_icons/angle.svg.vec
  - assets/property_icons/area.svg.vec
  - assets/property_icons/currencies.svg.vec
  - assets/property_icons/data.svg.vec
  - assets/property_icons/energy.svg.vec
  - assets/property_icons/force.svg.vec
  - assets/property_icons/fuel.svg.vec
  - assets/property_icons/length.svg.vec
  - assets/property_icons/mass.svg.vec
  - assets/property_icons/numeral_systems.svg.vec
  - assets/property_icons/power.svg.vec
  - assets/property_icons/pressure.svg.vec
  - assets/property_icons/shoe_size.svg.vec
  - assets/property_icons/si_prefixes.svg.vec
  - assets/property_icons/speed.svg.vec
  - assets/property_icons/temperature.svg.vec
  - assets/property_icons/time.svg.vec
  - assets/property_icons/torque.svg.vec
  - assets/property_icons/volume.svg.vec
