name: converterpro
description: Unit and currencies converter
publish_to: none

version: 4.2.4+45

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.27.1 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # App dynamic color theme
  dynamic_color: ^1.7.0
  # State management
  flutter_riverpod: ^2.6.1
  # For svg icons
  flutter_svg: ^2.0.16
  # App logo in drawer
  google_fonts: ^6.2.1
  # Navigation
  go_router: ^12.1.3 # Do not upgrade until github.com/flutter/packages/pull/8162 is resolved
  # Downloading the exchange rates
  http: ^1.2.2
  # Translations
  intl: ^0.19.0
  # Android app shortcuts
  quick_actions: ^1.1.0
  # Store the customizations and the latest currencies conversions
  shared_preferences: ^2.3.4
  # Unit conversion
  units_converter: 2.0.1
  # Just for getting the browser current language
  universal_io: ^2.2.2 # Can be removed once dart:io is supported on web (issue: github.com/flutter/flutter/issues/39998)
  # Open external pages such as GitHub repo, Play Store, etc
  url_launcher: ^6.3.1
  # Load optimized svg icons
  vector_graphics: ^1.1.15
  # Resize window during testing
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding
      ref: eb3964990cf19629c89ff8cb4a37640c7b3d5601
      path: plugins/window_size

  # Sub packages ---------------------------------------------------------------
  # Calculator widget and logic
  calculator_widget:
    path: packages/calculator_widget
  # App translations
  translations:
    path: packages/translations

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  melos: ^6.2.0
  msix: ^3.16.8
  test: ^1.25.7
  vector_graphics_compiler: ^1.1.16

msix_config:
  display_name: Converter NOW
  publisher_display_name: Damiano Ferrari
  identity_name: 39826DamianoFerrari.ConverterNOW
  logo_path: assets\logo.png
  output_name: converternow-windows
  publisher: CN=E8FE6044-F04C-422E-AC68-EDA83F6AAFB2
  capabilities: internetClient

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/logo.png
    - path: assets/app_icons/
      transformers:
        - package: vector_graphics_compiler
    - path: assets/property_icons/
      transformers:
        - package: vector_graphics_compiler
