[Desktop Entry]
Name=Converter NOW
Comment=A Unit and Currencies Converter. It is immediate, fast and easy to use!
Exec=converternow
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
Type=Application
Categories=Utility;
Keywords=Converter,Unit,Currencies,Tools;
StartupNotify=false
