name: Tests

on: [push, pull_request]

jobs:
  # JOB to run change detection
  changes:
    name: Detect changed files
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      calculator_widget: ${{ steps.filter.outputs.calculator_widget }}
      integration_testing: ${{ steps.filter.outputs.integration_testing }}
    steps:
    - uses: actions/checkout@v3
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          integration_testing:
          - 'lib/**'
          - 'packages/**'
          - 'pubspec.yaml'
          calculator_widget:
          - 'packages/calculator_widget/**'

  # JOB to build and test backend code
  test_calculator_widget:
    needs: changes
    if: ${{ needs.changes.outputs.calculator_widget == 'true' }}
    name: calculator_widget test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        cache: true

    - name: Flutter version
      run: flutter --version

    - name: Run tests
      run: cd packages/calculator_widget && flutter test

  desktop_integration_testing:
    needs: changes
    if: ${{ needs.changes.outputs.integration_testing == 'true' }}
    name: Desktop integration testing
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install missing packages
      run: |
        sudo apt update
        sudo apt install -y clang cmake ninja-build pkg-config libgtk-3-dev

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        cache: true
        channel: stable

    - name: Flutter doctor
      run: flutter doctor --verbose

    - name: Install Melos and bootstrap (get the dependencies)
      run: |
        dart pub global activate melos
        melos bootstrap

    - name: Run integration testing
      run: |
        export DISPLAY=:99
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
        flutter test integration_test/large_display_test.dart -d linux
