name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  # JOB to run change detection
  changes:
    name: Detect changed files
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      integration_testing: ${{ steps.filter.outputs.integration_testing }}
    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          integration_testing:
          - 'lib/**'
          - 'packages/**'
          - 'pubspec.yaml'

  integration_testing:
    needs: changes
    if: ${{ needs.changes.outputs.integration_testing == 'true' }}
    name: Integration testing
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install missing packages
      run: |
        sudo apt-get update
        sudo apt-get install -y ninja-build libgtk-3-dev

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        cache: true
        channel: stable

    - name: Flutter doctor
      run: flutter doctor --verbose

    - name: Install required dart tools
      run: |
        dart pub global activate melos

    - name: Bootstrap
      run: melos bootstrap
      
    - name: Run small display integration testing
      run: xvfb-run -a flutter test integration_test/small_display_test.dart -d linux
  
    - name: Run large display integration testing
      run: xvfb-run -a flutter test integration_test/large_display_test.dart -d linux

