name: Tests

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Flutter
      uses: subosito/flutter-action@v2.3.0
      with:
        channel: stable
        cache: true

    - name: Flutter version
      run: flutter --version

    - name: Download pub dependencies
      run: flutter pub get

    - name: Run tests
      run: flutter test test/calculator_test.dart