name: "Windows: build & deploy"

on:
  push:
    tags: ['v*']

jobs:
  test:
    name: Windows build
    runs-on: windows-latest
    timeout-minutes: 25
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        cache: true

    - name: Flutter doctor
      run: flutter doctor

    - name: Install required dart tools
      run: |
        dart pub global activate melos
        dart pub global activate vector_graphics_compiler

    - name: Generate optimized icons (workaround for a bug of melos on Windows)
      run: |
        dart run vector_graphics_compiler --input-dir assets/app_icons
        dart run vector_graphics_compiler --input-dir assets/property_icons

    - name: Bootstrap
      run: melos bootstrap

    - name: Build and create the .msix installer
      run: flutter pub run msix:create --store

    - name: Release to GitHub
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/windows/x64/runner/Release/converternow-windows.msix"
        token: ${{ secrets.GH_TOKEN }}
        tag: ${{ steps.version.outputs.content }}
        commit: ${{ github.sha }}
        allowUpdates: true     #so if you rerun a job it will overwrite the existing files